.dropdown{
    position: relative;
    margin: 10px 0;
    display: inline-block;
    &__list{
        position: absolute;
        min-width: 100%;
        z-index: 2;
        background-color: #fff;
        top: 100%;
        display: none;
    }
    &__link{
        display: block;
        margin: 10px 0;
        background-color: transparent;
        color: $dark;
        text-decoration: none;
        transition: all 0.3s;
        &:hover{
            color: rgba($dark, 0.8);
        }
    }
}